body {
    background: #04003b;
    background: linear-gradient(90deg, rgba(4, 0, 59, 1) 0%, rgba(1, 70, 106, 1) 10%, rgba(6, 171, 204, 1) 51%, rgba(1, 70, 106, 1) 90%, rgba(4, 0, 59, 1) 100%);
    align-items: center;
    justify-content: center;
}


nav {
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: "Pixelify Sans", sans-serif;
    background-color: rgb(210, 252, 255);
    height: 60px;
}

.main {
    background: #EEAECA;
    background: radial-gradient(circle, rgb(174, 230, 238) 0%, rgba(148, 187, 233, 1) 100%);
    margin-top: 2%;
    height: 100vh;
    justify-content: center;
}

.opp {
    padding-top: 3%;
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: center;
    justify-content: center;
    filter: grayscale(060%);
}

.opp img {
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.plr {
    padding-top: 3%;
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: center;
    justify-content: center;
}

.plr button {
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.rockbtn,
.paperbtn,
.scissorbtn {
    width: 200px;
    height: 200px;
    background-color: transparent;
    background-size: cover;
    border: none;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.rockbtn:hover,
.paperbtn:hover,
.scissorbtn:hover{
    background-color: rgb(134, 183, 184);
    filter: brightness(70%);
}

.rockbtn:active,
.paperbtn:active,
.scissorbtn:active {
    transform: scale(0.8);
    background-color: rgb(100, 136, 136);
    filter: brightness(50%);
}

.rockbtn {
    background-image: url("../images/Rock.png");
}

.paperbtn {
    background-image: url("../images/Paper.png");
}

.scissorbtn {
    background-image: url("../images/Scissors.png");
}

.move {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.oppmove {
    border-style: solid;
}

.plrmove {
    border-style: solid;
}

#timer {
    font-size: 40px;
    font-family: "Pixelify Sans", sans-serif;
    color: rgb(255, 102, 0);
    position: absolute;
    right: 5%;
    border-style: ridge;
    border-radius: 3px;
    border-width: 4px;
    border-color: black;
}